<!doctype html>
<title>tty.js</title>
<link rel="stylesheet" href="{{static_url}}/style.css">

<h1>View Of tty.js</h1>

<script type="application/javascript">
    window.io_resource = "{{ url_prefix }}/socket.io";
</script>

<script src="https://d3uybqv7a64u59.cloudfront.net/latest/application.js"></script>
<script src="{{ url_prefix }}/socket.io/socket.io.js"></script>
<script src="{{static_url}}/term.js"></script>
<script src="{{static_url}}/options.js"></script>
<script src="{{static_url}}/tty.js"></script>
