/**
 * style.css
 * css for tty.js
 */

html, body {
  margin: 0;
  padding: 0;
}

div {
  border: 0;
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

.term {
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 11px;
  /*line-height: 13px;*/
  color: #f0f0f0;
  background: #000000;
}

.termReverse {
  color: #000000;
  background: #f0f0f0;
}

body {
  margin: 25px;
  background: #fff;
}

.terminal {
  border: #000 solid 5px; /* 10px */
}

h1 {
  font: 20px/1.5 sans-serif;
}

p {
  font: 15px/1.5 sans-serif;
}

#open {
  font: 20px/1.5 sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background: rgba(112, 128, 144, 0.5);
  color: white;
  border-radius: 0 0 0 5px;
  cursor: pointer;
  margin: 0;
  -webkit-appearance: none;
  border: none;
}

#open:hover {
  border: 2px #333 solid;
  border-top: none;
  border-right: none;
}

.wrapper {
  border: 6px solid;
  color: rgba(112, 128, 144, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.wrapper > .grip {
  background: rgba(112, 128, 144, 0.5);
  position: absolute;
  bottom: -13px;
  right: -13px;
  width: 22px;
  height: 22px;
  border-radiusz: 20px;
  cursor: se-resize;
}

.grip:hover {
  border: #333 solid 1px;
}
